h1 {
	font-size: 50px;
	font-family: Arial;
	color:#000;
	font-weight: bold;
}


h2 {
	color: #21B6A8;
	font-size: 24px;
	font-family: Arial;
	padding-bottom: 20px;
	font-weight: bold;
}


h3 {
	color: #000;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
}


p {
	color: #000;
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
}


a {
	color: #ECF87F;
	text-decoration: none;
	font-family: Arial;
}


li {
	text-decoration: none;
	font-family: Arial;
}


.content {
  	max-width: 1100px;
  	margin: 0 auto;
  	padding: 0 20px 20px 20px;
}

body {
 background-image: url("codioful-formerly-gradienta-UF_wwDxI6uk-unsplash.jpg");
 background-color: #cccccc;
}
